venv/
__pycache__/
*.pyc
.pytest_cache/

.env

data/incoming/*.csv
data/processed/*.csv
data/output/alerts/*.json
data/tickets/*.txt
!data/incoming/.gitkeep
!data/processed/.gitkeep
!data/output/alerts/.gitkeep
!data/tickets/.gitkeep

*.log

.vscode/
.idea/

